<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<link rel="stylesheet" href="/css/morris.css">
<script src="/js/morris.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css">


<title>Crear Capacitaciones</title>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />
<!--     Fonts and icons     -->
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"
	rel="stylesheet" />
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous">
<!-- CSS Files -->
<link rel="stylesheet" href="/css/Capacitacion-Admin-Estilos.css">
<link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
<!-- <link href="/assets/css/paper-dashboard.css?v=2.0.0" rel="stylesheet" /> -->
<link href="/assets/demo/demo.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet" href="/css/estilosSlider.css">
<!--  Datatables  -->
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />

<!--  extension responsive  -->
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
<link href="/assets/css/sweetalert.css" rel="stylesheet" type="text/css">
<script src="/assets/js/sweetalert.min.js" type="text/javascript"></script>
<!--   Enlaces   -->
<script src="/js/validacion-CrearCapacitacion.js"></script>
<script src="/assets/js/core/jquery.min.js"></script>
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>
<!--   Datatables-->
<script type="text/javascript"
	src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>

<!--   Bootstrap-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<!-- extension responsive -->

<script
	src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
<script
	src="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/datatables.min.js"></script>
<!-- Buttons -->
<link rel="stylesheet"
	href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
<script
	src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
<script
	src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
<script
	src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.53/build/pdfmake.min.js"></script>
<script
	src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.53/build/vfs_fonts.js"></script>
<script
	src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
<script
	src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

<script src="/assets/js/alerta.js"></script>
<script>
	function mensaje3() {
		swal({
			title : "¿Seguro de crear una nueva capacitación?",
			timer : 5000,
			type : "success",
			showCancelButton : true,
			confirmButtonClass : "btn-success",
			confirmButtonText : "Si, Crear",
			closeOnConfirm : false
		}, function() {
			swal("Continuemos!", "¡Vamos a crear!", "success");
		});

	}
</script>
</head>

<body onload="">
	<!--inicio header-->
	<header class=" py-1 mb-0 bg-dark ">
		<div
			class="container d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<button type="button">
				<img src="assets/message.svg" alt=""
					class="menu-bar bi me-2 bg-light text-light">
			</button>

			<ul class="nav col-12 col-md-10 mb-2 justify-content-center mb-md-0">
				<li><a href="#" class="nav-link px-2 text-light">Home</a></li>
				<li><a href="#" class="nav-link px-2 text-light">Features</a></li>
				<li><a href="#" class="nav-link px-2 text-light">Pricing</a></li>
				<li><a href="#" class="nav-link px-2 text-light">FAQs</a></li>
				<li><a href="#" class="nav-link px-2 text-light">About</a></li>
			</ul>

			<div class="col-md-1 text-center">
				<form class="d-flex" th:action="@{/logout}" method="post">
					<input class="btn btn-outline-light me-2" type="submit"
						value="Salir" />
				</form>
			</div>
		</div>
	</header>
	<!--fin del header-->
	<!--inicio menu slider-->
	<div class="sidebar">
		<h2>MRTW</h2>
		<ul class="list">
			<li class="list__item">
				<div class="list__button">
					<img src="/assets/dashboard.svg" class="list__img"> <a
						th:href="@{/dashboard-Admin}" class="nav__link">Inicio</a>
				</div>
			</li>

			<li class="list__item list__item--click">
				<div class="list__button list__button--click">
					<img src="/assets/docs.svg" class="list__img"> <a href="#"
						class="nav__link">SEGUIMIENTO EMPLEADO</a> <img
						src="/assets/arrow.svg" class="list__arrow">
				</div>

				<ul class="list__show">
					<li class="list__inside"><a
						class="nav__link nav__link--inside" th:href="@{/newUsuario}">Crear
							Usuarios</a></li>

					<li class="list__inside"><a
						class="nav__link nav__link--inside" th:href="@{/listarUsuario}">Ver
							Usuarios</a></li>

					<li class="list__inside"><a
						class="nav__link nav__link--inside"
						th:href="@{/listarCapacitaciones}">Gestionar Capacitacion</a></li>
				</ul>

			</li>

			<li class="list__item list__item--click">
				<div class="list__button list__button--click">
					<img src="/assets/stats.svg" class="list__img"> <a href="#"
						class="nav__link">INVENTARIOS</a> <img src="/assets/arrow.svg"
						class="list__arrow">
				</div>
				<ul class="list__show">
					<li class="list__inside"><a
						class="nav__link nav__link--inside" th:href="@{/listarInsumos}">Insumos</a>
					</li>

					<li class="list__inside"><a
						class="nav__link nav__link--inside" th:href="@{/listarComputador}">Computadores</a>
					</li>

					<li class="list__inside"><a
						class="nav__link nav__link--inside" th:href="@{/listarProveedor}">Proveedores</a>
					</li>

					<li class="list__inside"><a
						class="nav__link nav__link--inside" th:href="@{/listarStock}">Stock</a>
					</li>
				</ul>
			</li>

			<li class="list__item list__item--click">
				<div class="list__button list__button--click">
					<img src="/assets/message.svg" class="list__img"> <a href="#"
						class="nav__link">ASISTENCIA TECNICA</a> <img
						src="/assets/arrow.svg" class="list__arrow">
				</div>

				<ul class="list__show">
					<li class="list__inside"><a
						class="nav__link nav__link--inside" th:href="@{/Asistencia-Admin}">Inicio</a>
					</li>
					<li class="list__inside"><a
						class="nav__link nav__link--inside"
						th:href="@{/listarSolicitudes}">Gestion de Solicitudes</a></li>

					<li class="list__inside"><a
						class="nav__link nav__link--inside" th:href="@{/Informes-Admin}">Informe</a>
					</li>

					<li class="list__inside"><a
						class="nav__link nav__link--inside" th:href="@{/listarAgentes}">agentes
							Tecnicos</a></li>
				</ul>
			</li>


			<li class="list__item">
				<div class="list__button">
					<img src="/assets/bell.svg" class="list__img"> <a href="#"
						class="nav__link">Contacto</a>
				</div>
			</li>

		</ul>
	</div>
	<!--Fin menu slider-->
	<!--Comienzo contenido de la pagina-->
	<div class="contenido">
		<div class="content">
			<div class="row">
				<div class="col-md-12" style="padding: 50px">
					<br>
					<br>

					<div class="card">
						<div class="card-header bg-dark text-light">
							<center>
								<h4 class="card-title">CAPACITACIONES</h4>
							</center>
						</div>
						<div class="card-body bg-secondary text-light">
							<div class="row">
								<div class="col-md-12">
									<form th:action="@{/saveCapacitaciones}" class="needs-validation"
										th:object=${capacitaciones} id="form-capacitacion"
										method="POST" novalidate>

										<div class="form-row">
											<div class="form-group col-md-2">
												<label for="Id">Id</label> 
												<input
													th:field="*{idCapacitacion}" type="number"
													class="form-control" id="Id" placeholder="Id" name="Id"
													readonly="readonly">
											</div>
											<div class="form-group col-md-5">
												<label for="name">Nombre Encargado</label> 
												<input
													th:field="*{nombreEncargado}" type="text"
													class="form-control" id="name" placeholder="nombre"
													name="nom" required>

												<div class="valid-feedback text-light">¡Campo Valido!</div>
												<div class="invalid-feedback text-light">¡Ingrese nombre del encargado!</div>
											</div>
											<div class="form-group col-md-5">
												<label for="DNI">Documento de Identificacion</label> 
												<input
													th:field="*{dni}" type="number" class="form-control"
													id="DNI" placeholder="Doc. Identificacion" name="DNI" required>
												
												<div class="valid-feedback text-light">¡Campo Valido!</div>
												<div class="invalid-feedback text-light">¡Ingrese el documento del encargado!</div>
											</div>
										</div>
										<div class="form-row ">
											<div class="form-group col-md-4">
												<label for="email">email</label> 
												<input th:field="*{email}"
													type="email" class="form-control" id="email" name="email"
													placeholder="Email" required>
													
												<div class="valid-feedback text-light">¡Campo Valido!</div>
												<div class="invalid-feedback text-light">¡Ingrese el email del encargado!</div>
											</div>
											<div class="form-group col-md-4">
												<label for="nomcap">Nombre capacitacion</label> 
												<input
													th:field="*{nombreCapacitacion}" type="text"
													class="form-control" id="nomcap" name="nomcap"
													placeholder="Nombre de la capacitacion" required>
													
												<div class="valid-feedback text-light">¡Campo Valido!</div>
												<div class="invalid-feedback text-light">¡Ingrese nombre de la capacitacion!</div>
											</div>
											<div class="form-group col-md-4">
												<label for="Telefono">Telefono celular</label> 
												<input
													th:field="*{telefono}" type="text" class="form-control"
													id="tel" name="tel" placeholder="Telefono" required>
													
												<div class="valid-feedback text-light">¡Campo Valido!</div>
												<div class="invalid-feedback text-light">¡Ingrese el telefono del encargado!</div>
											</div>
										</div>
										<div class="form-row">
											<div class="form-group col-md-4">
												<label for="clases">Hora de realizacion</label> 
												<input
													th:field="*{hora}" type="text" class="form-control"
													id="hora" name="hora" placeholder="HH:MM:SS" required>
													
												<div class="valid-feedback text-light">¡Campo Valido!</div>
												<div class="invalid-feedback text-light">¡Ingrese la hora de la capacitación!</div>
											</div>
											<div class="form-group col-md-4">
												<label for="fecha">Fecha de realizacion</label> 
												<input
													th:field="*{fecha}" type="text" class="form-control"
													id="fecha" name="fecha" placeholder="YYYY:MM:DD" required> 
													
												<div class="valid-feedback text-light">¡Campo Valido!</div>
												<div class="invalid-feedback text-light">¡Ingrese la fecha de la capacitacion!</div>
											</div>
											<div class="form-group col-md-4">
												<label for="Estado">Estado</label> 
												<input
													th:field="*{estado}" type="text" class="form-control"
													id="estado" name="estado" placeholder="activo/inactivo" required>
													
												<div class="valid-feedback text-light">¡Campo Valido!</div>
												<div class="invalid-feedback text-light">¡Ingrese estado de la capacitacion!</div>
											</div>
										</div>
										<div class="form-row">
											<div class="form-group col-md-12">

												<label for="enlace">Enlace</label> 
												<input
													th:field="*{enlace}" type="text" class="form-control"
													id="enlace" name="enlace"
													placeholder="ingrese el enlace de la reunion" required>
													
												<div class="valid-feedback text-light">¡Campo Valido!</div>
												<div class="invalid-feedbac text-light">¡Ingrese el enlace de la reunion!</div>
											</div>
										</div>
										<div class="form-row">
											<div class="form-group col-md-12">
												<div class="form-check">
													<label class="form-check-label" for="gridCheck">
														Descripcion de la capacitacion</label><br>
													<textarea th:field="*{descripcion}" name="Descripcion"
														id="Descripcion" cols="140" rows="10" required></textarea>
													
													<div class="valid-feedback text-light">¡Campo Valido!</div>
													<div class="invalid-feedback text-light">¡Ingrese descripcion de la capacitación!</div>
												</div>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="col-1">
												<button type="submit"
													class="btn btn-info text-light" name="btnCrear">CREAR</button>
											</div>
											<div class="col-1">
												<a th:href="@{/listarCapacitaciones}"
													class="btn btn-secondary text-light">VOLVER</a>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>




			<!--Comienzo contenido del footer-->
			<footer
				class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
				<div class="col-md-4 d-flex align-items-center">
					<ul>
						<li><a href="#" target="_blank"
							class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">MR
								TW</a></li>
						<li><a href="#" target="_blank"
							class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">CONTACTO</a>
						</li>
					</ul>
				</div>
				<div
					class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
					<span class="copyright"> © <script>
						document.write(new Date().getFullYear())
					</script>, GAES 4 (SENA) </i>
					</span>
				</div>
				<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
					<li class="ms-3"><a class="text-muted" href="#"><i
							class="fab fa-facebook-square" width="24" height="24">&nbsp;&nbsp;</i></a></li>
					<li class="ms-3"><a class="text-muted" href="#"><i
							class="fab fa-twitter-square" width="24" height="24">&nbsp;&nbsp;</i></a></li>
					<li class="ms-3"><a class="text-muted" href="#"><i
							class="fab fa-google-plus" width="24" height="24">&nbsp;&nbsp;</i></a></li>
				</ul>
			</footer>
		</div>
		<!--fin contenido del footer-->

		<!--   Enlaces   -->
		<script src="/js/sliderjs.js"></script>
		<script type="text/javascript">
			$(document)
					.ready(
							function() {
								$('#mydatatable tfoot th')
										.each(
												function() {
													var title = $(this).text();
													$(this)
															.html(
																	'<input type="text" placeholder="Filtrar.." />');
												});

								var table = $('#mydatatable')
										.DataTable(
												{
													"dom" : 'B<"float-left"i><"float-right"f>t<"float-left"l><"float-right"p><"clearfix">',
													responsive : true,
													"language" : {
														"url" : "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
													},
													"order" : [ [ 0, "desc" ] ],
													"initComplete" : function() {
														this
																.api()
																.columns()
																.every(
																		function() {
																			var that = this;

																			$(
																					'input',
																					this
																							.footer())
																					.on(
																							'keyup change',
																							function() {
																								if (that
																										.search() !== this.value) {
																									that
																											.search(
																													this.value)
																											.draw();
																								}
																							});
																		})
													},

													"buttons" : [ 'csv',
															'excel', 'pdf',
															'print' ]
												});
							});
		</script>
		
		<!-- Bootstrap -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
		
		<!-- Validacion -->
		<script> (function () {
		  'use strict'
		
		  // Fetch all the forms we want to apply custom Bootstrap validation styles to
		  var forms = document.querySelectorAll('.needs-validation')
		
		  // Loop over them and prevent submission
		  Array.prototype.slice.call(forms)
		    .forEach(function (form) {
		      form.addEventListener('submit', function (event) {
		        if (!form.checkValidity()) {
		          event.preventDefault()
		          event.stopPropagation()
		        }
		
		        form.classList.add('was-validated')
		      }, false)
		    })
		})()
		</script>
</body>

</html>
