<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<link rel="stylesheet" href="/css/morris.css">
<script src="/js/morris.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css">


<title>Editar Evento</title>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />
<!--     Fonts and icons     -->
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"
	rel="stylesheet" />
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous">
<!-- CSS Files -->
<link rel="stylesheet" href="/css/Crear-Eventos-Estilos.css">
<link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
<!-- <link href="/assets/css/paper-dashboard.css?v=2.0.0" rel="stylesheet" /> -->
<link rel="stylesheet" href="/css/estilosSlider.css">
<link href="/assets/demo/demo.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--  Datatables  -->
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />

<!--  extension responsive  -->
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
<link href="/assets/css/sweetalert.css" rel="stylesheet" type="text/css">
<script src="/assets/js/sweetalert.min.js" type="text/javascript"></script>

<!--   Enlaces   -->
<script src="/js/validacion-CrearEvento.js"></script>
<script src="/assets/js/core/jquery.min.js"></script>
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>
<!--   Datatables-->
<script type="text/javascript"
	src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>

<!-- extension responsive -->
<script
	src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

<script>
	function mensaje2() {
		swal({
			title : "¿Seguro de Editar?",
			timer : 5000,
			type : "success",
			showCancelButton : true,
			confirmButtonClass : "btn-success",
			confirmButtonText : "Si, Editar",
			closeOnConfirm : false
		}, function() {
			swal("Continuemos!", "¡Vamos a editar!", "success");
		});

	}
</script>

</head>
<body>
	<!--inicio header-->
	<header class=" py-1 mb-0 bg-dark ">
		<div
			class="container d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<button type="button">
				<img src="/assets/message.svg" alt=""
					class="menu-bar bi me-2 bg-light text-light">
			</button>

			<ul class="nav col-12 col-md-10 mb-2 justify-content-center mb-md-0">
				<li><a href="#" class="nav-link px-8 text-light">JEFE DE AREA</a></li>
			</ul>

			<div class="col-md-1 text-center">
				<form class="d-flex" th:action="@{/logout}" method="post">
              		<input class="btn btn-outline-light me-2" type="submit" value="Salir" />
	           	</form>
			</div>
		</div>
	</header>
	<!--fin del header-->

    <!--inicio menu slider-->
    <div class="sidebar">
        <h2>MRTW</h2>
        <ul class="list">
            <li class="list__item">
                <div class="list__button">
                    <img src="/assets/dashboard.svg" class="list__img">
                    <a th:href="@{/dashboard-Jefe}" class="nav__link">Inicio</a>
                </div>
            </li>

            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <img src="/assets/docs.svg" class="list__img">
                    <a href="#" class="nav__link">SEGUIMIENTO EMPLEADO</a>
                    <img src="/assets/arrow.svg" class="list__arrow">
                </div>

                <ul class="list__show">
                    <li class="list__inside">
                        <a class="nav__link nav__link--inside" th:href="@{/listarActividadLaboral}">Actividades del area laboral</a>
                    </li>

                    <li class="list__inside">
                        <a class="nav__link nav__link--inside" th:href="@{/newActividadLaboral}">Creacion Eventos</a>
                    </li>

                    <li class="list__inside">
                        <a class="nav__link nav__link--inside" th:href="@{/listarCapacitacionesJefe}">Capacitaciones</a>
                    </li>
                </ul>

            </li>

        </ul>
    </div>
    <!--Fin menu slider-->
	<!--Comienzo contenido de la pagina-->
	<div class="contenido">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<br>
					<br>
					<div class="card">
						<div class="card-header bg-dark text-light">
							<center>
								<h4>Formulario de creacion de eventos</h4>
							</center>
						</div>
						<div class="card-body">
							<form th:action="@{/saveActividadLaboral}" th:object=${actividadLaboral} id="form-registro" method="POST" class="needs-validation" novalidate>
								<div class="form-row">
									<div class="form-group col-md-6">
										<label for="Id">Id</label> 
										<input th:field="*{idActividad}" type="number" 
										class="form-control" id="Id" name="Id" 
										placeholder="Id" readonly="readonly">
									</div>
									<div class="form-group col-md-6">
										<label for="nameEve">Nombre de la actividad</label> 
										<input th:field="*{Nombre_Actividad}" type="text"
										class="form-control" id="nameEve" name="nomEve"
										placeholder="Nombre del Evento" required>
										
										<div class="valid-feedback">¡Campo Valido!</div>
										<div class="invalid-feedback">¡Ingrese el nombre de la actividad!</div>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-6">
										<label for="area" class="control-label">area</label> <select
											th:field="*{idArea.idArea}" id="area" class="form-control"
											name="area">
											<option value="1">Contabilidad</option>
											<option value="2">Manufactura</option>
											<option value="3">Bienestar al empleado</option>
											<option value="4">Administrativa</option>
											<option value="5">Envios</option>
										</select>
									</div>
									<div class="form-group col-md-6">
										<label for="ent">Requiere entregable</label> <select
											th:field="*{entregable}" id="ent" class="form-control"
											name="ent">
											<option value="Si">Si</option>
											<option value="No">No</option>
										</select>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-6">
										<label for="fecha_f">Fecha finalizacion</label> 
										<input th:field="*{fechaEntrega}" type="text" class="form-control"
										id="fecha_f" name="fecha_f"
										placeholder="fecha de entrega o finalizacion" required>
										
										<div class="valid-feedback">¡Campo Valido!</div>
										<div class="invalid-feedback">¡Ingrese la fecha de finalizacion de la actividad!</div>
									</div>
									<div class="form-group col-md-6">
										<label for="hora_f">Hora finalizacion</label> 
										<input th:field="*{horaEntrega}" type="text" class="form-control"
										id="hora_f" name="hora_f" placeholder="Hora de finalizacion" required>
										
										<div class="valid-feedback">¡Campo Valido!</div>
										<div class="invalid-feedback">¡Ingrese la hora de finalizacion de la actividad!</div>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-12">
										<label for="descri">Descripcion</label> 
										<input th:field="*{descripcion}" type="text" class="form-control"
										id="descri" name="descri" placeholder="descripcion" required>
										
										<div class="valid-feedback">¡Campo Valido!</div>
										<div class="invalid-feedback">¡Ingrese la descripcion de la actividad!</div>
									</div>
								</div>
								<br>
								<div class="row justify-content-center">
									<div class="">
										<div class="text-center">
											<button type="button" class="btn btn-primary"
												data-toggle="modal" data-target="#exampleModal"
												th:attr="data-target='#exampleModal'+${actividadLaboral.idActividad}">
												EDITAR
											</button>
		                                    <!-- Modal Editar-->
												<div class="modal fade text-dark"
													th:attr="id='exampleModal'+${actividadLaboral.idActividad}"
													tabindex="-1" aria-labelledby="exampleModalLabel"
													aria-hidden="true">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title" id="exampleModalLabel">Editar actividad</h5>
																<button type="button" class="close" data-dismiss="modal"
																	aria-label="Close">
																	<span aria-hidden="true">&times;</span>
																</button>
															</div>
															<div class="modal-body">
																Desea editar la actividad <span
																	th:text="${actividadLaboral.idActividad}"></span>?
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
																<button type="submit" class="btn btn-info text-light" name="btnCrear">Crear</button>
															</div>
														</div>
													</div>
												</div>
											<!-- Modal -->	
										</div>
									</div>
									<div class="">
										<a th:href="@{/listarActividadLaboral}" class="btn btn-info text-light">VOLVER</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Comienzo contenido del footer-->
		<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
			<div class="col-md-4 d-flex align-items-center">
				<ul>
					<li><a href="#" target="_blank" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">MR
							TW</a></li>
					<li><a href="#" target="_blank" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">CONTACTO</a>
					</li>
				</ul>
			</div>
			<div class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
				<span class="copyright"> © <script>
					document.write(new Date().getFullYear())
				</script>, GAES 4 (SENA) </i>
				</span>
			</div>
			<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
				<li class="ms-3">
					<a class="text-muted" href="#">
						<i class="fab fa-facebook-square" width="24" height="24">&nbsp;&nbsp;</i>
					</a>
				</li>
				<li class="ms-3">
					<a class="text-muted" href="#">
						<i class="fab fa-twitter-square" width="24" height="24">&nbsp;&nbsp;</i>
					</a>
				</li>
				<li class="ms-3">
					<a class="text-muted" href="#">
						<i class="fab fa-google-plus" width="24" height="24">&nbsp;&nbsp;</i>
					</a>
				</li>
			</ul>
		</footer>
		<!--fin contenido del footer-->
	</div>

	<script src="/js/sliderjs.js"></script>
	<script>
		$(document).ready(function() {
			$('#tableCap').DataTable({
				responsive : true
			});
		});
	</script>

	<!-- Validacion -->
	<script> (function () {
	  'use strict'
		
	  // Fetch all the forms we want to apply custom Bootstrap validation styles to
	  var forms = document.querySelectorAll('.needs-validation')
		
	  // Loop over them and prevent submission
	  Array.prototype.slice.call(forms)
	    .forEach(function (form) {
	      form.addEventListener('submit', function (event) {
	        if (!form.checkValidity()) {
	          event.preventDefault()
	          event.stopPropagation()
	        }
	
	        form.classList.add('was-validated')
	      }, false)
	    })
	})()
	</script>

</body>

</html>
