<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<link rel="stylesheet" href="/css/morris.css">
<script src="/js/morris.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<title>Pedidos</title>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />
<!--     iconOs     -->
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"
	rel="stylesheet" />
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous">
<!-- CSS Files -->
<link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
<!--<link href="/assets/css/paper-dashboard.css?v=2.0.0" rel="stylesheet" />-->
<link rel="stylesheet" href="/css/estilosSlider.css">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet" href="/css/estiloscartas.css">
<link rel="stylesheet" href="/css/estilosCompEm.css">
<link href="/assets/css/sweetalert.css" rel="stylesheet" type="text/css">
<script src="/assets/js/sweetalert.min.js" type="text/javascript"></script>
<script>
            function mensaje() {
                swal({
                    title: "¿Seguro de realizar esta accion?",

                    type: "success",
                    showCancelButton: true,
                    confirmButtonClass: "btn-success",
                    confirmButtonText: "Si, Realizar!",
                    closeOnConfirm: false
                },
                        function () {
                            swal("Continuemos!", "¡Vamos a ello!", "success");
                        });

            }
        </script>
</head>
<body onload="mensaje()">
       <!--inicio header-->
	<header class=" py-1 mb-0 bg-dark ">
		<div class="container d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<button type="button">
				<img src="assets/message.svg" alt="" class="menu-bar bi me-2 bg-light text-light">
			</button>

			<ul class="nav col-12 col-md-10 mb-2 justify-content-center mb-md-0">
				<li><a href="#" class="nav-link px-2 text-light">Home</a></li>
				<li><a href="#" class="nav-link px-2 text-light">Features</a></li>
				<li><a href="#" class="nav-link px-2 text-light">Pricing</a></li>
				<li><a href="#" class="nav-link px-2 text-light">FAQs</a></li>
				<li><a href="#" class="nav-link px-2 text-light">About</a></li>
			</ul>

			<div class="col-md-1 text-center">
				<form class="d-flex" th:action="@{/logout}" method="post">
              		<input class="btn btn-outline-light me-2" type="submit" value="Salir" />
	           	</form>
			</div>
		</div>
	</header>
		<!--inicio menu slider-->
		<div class="sidebar">
			<h2>MRTW</h2>
			<ul class="list">
				<li class="list__item">
					<div class="list__button">
						<img src="/assets/dashboard.svg" class="list__img">
						<a th:href="@{/dashboard-Admin}" class="nav__link">Inicio</a>
					</div>
				</li>

				<li class="list__item list__item--click">
					<div class="list__button list__button--click">
						<img src="/assets/docs.svg" class="list__img">
						<a href="#" class="nav__link">SEGUIMIENTO EMPLEADO</a>
						<img src="/assets/arrow.svg" class="list__arrow">
					</div>

					<ul class="list__show">
						<li class="list__inside">
							<a class="nav__link nav__link--inside" th:href="@{/newUsuario}">Crear Usuarios</a>
						</li>

						<li class="list__inside">
							<a class="nav__link nav__link--inside" th:href="@{/listarUsuario}">Ver Usuarios</a>
						</li>

						<li class="list__inside">
							<a class="nav__link nav__link--inside" th:href="@{/listarCapacitaciones}">Gestionar Capacitacion</a>
						</li>
					</ul>

				</li>

				<li class="list__item list__item--click">
					<div class="list__button list__button--click">
						<img src="/assets/stats.svg" class="list__img">
						<a href="#" class="nav__link">INVENTARIOS</a>
						<img src="/assets/arrow.svg" class="list__arrow">
					</div>
					<ul class="list__show">
						<li class="list__inside">
							<a class="nav__link nav__link--inside" th:href="@{/listarInsumos}">Insumos</a>
						</li>

						<li class="list__inside">
							<a class="nav__link nav__link--inside" th:href="@{/listarComputador}">Computadores</a>
						</li>

						<li class="list__inside">
							<a class="nav__link nav__link--inside" th:href="@{/listarProveedor}">Proveedores</a>
						</li>

						<li class="list__inside">
							<a class="nav__link nav__link--inside" th:href="@{/listarStock}">Stock</a>
						</li>
					</ul>
				</li>

				<li class="list__item list__item--click">
					<div class="list__button list__button--click">
						<img src="/assets/message.svg" class="list__img">
						<a href="#" class="nav__link">ASISTENCIA TECNICA</a>
						<img src="/assets/arrow.svg" class="list__arrow">
					</div>

					<ul class="list__show">
					 <li class="list__inside">
                        <a class="nav__link nav__link--inside" th:href="@{/Asistencia-Admin}">Inicio</a>
                    </li>
						<li class="list__inside">
							<a class="nav__link nav__link--inside" th:href="@{/listarSolicitudes}">Gestion de Solicitudes</a>
						</li>

						<li class="list__inside">
							<a class="nav__link nav__link--inside" th:href="@{/Informes-Admin}">Informe</a>
						</li>

						<li class="list__inside">
							<a class="nav__link nav__link--inside" th:href="@{/listarAgentes}">agentes Tecnicos</a>
						</li>
					</ul>
				</li>


				<li class="list__item">
					<div class="list__button">
						<img src="/assets/bell.svg" class="list__img">
						<a href="#" class="nav__link">Contacto</a>
					</div>
				</li>

			</ul>
		</div>
		<!--Fin menu slider-->
		<!--Comienzo contenido de la pagina-->
		<div class="contenido">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 ml-2">
						<div class="card shadow mb-5 bg-white">
							<div class="card-header bg-primary text-center"
								style="font-size: 20px;">REALIZAR PEDIDO</div>
							<div class="card-body">


								<form th:action="@{/savePedidos}" th:object=${pedidos} method="POST">


									<div class="form-row">
										<div class="col-md-6 mb-3">
												<label>ID PEDIDO</label> <input
													th:field="*{idPedido}" type="text" class="form-control" readonly>
											</div>
										<div class="col-md-6 mb-3">
											<label>CANTIDAD</label> <input th:field="*{cantidad}"
												type="text" class="form-control">
										</div>
										</div>
                                      <div class="form-row">
                                      
										<div class="col-md-6 mb-3">
											<label>DETALLE</label> <input th:field="*{detallepedido}"
												type="text" class="form-control">
										</div>
										<div class="col-md-6 mb-3">
											<label>ESTADO</label> <input th:field="*{estado}"
												type="text" class="form-control">
										</div>
                                      </div>
									
                                    
								
									<div class="form-row">
										<div class="col-md-6 mb-3">
											<label>PRECIO</label> <input
												th:field="*{preciopedido}" type="text" class="form-control">
										</div>
										<div class="col-md-6 mb-3">
											<label>NOMBRE INSUMO</label> <input th:field="*{nombreinsumo}"
												type="text" class="form-control">
										</div>
									</div>
									
									<div class="card-footer"></div>
									<input type="submit" value="Guardar" class="btn btn-success">
							</div>
							</form>
						</div>
					</div>



				</div>
			</div>

	<!--Comienzo contenido del footer-->
			<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
				<div class="col-md-4 d-flex align-items-center">
					<ul>
						<li>
							<a href="#" target="_blank"
								class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">MR TW</a>
						</li>
						<li>
							<a href="#" target="_blank"
								class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">CONTACTO</a>
						</li>
					</ul>
				</div>
				<div
					class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
					<span class="copyright">
						Â©
						<script>
							document.write(new Date().getFullYear())
						</script>, GAES 4 (SENA) </i>
					</span>
				</div>
				<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
					<li class="ms-3"><a class="text-muted" href="#"><i class="fab fa-facebook-square" width="24"
								height="24">&nbsp;&nbsp;</i></a></li>
					<li class="ms-3"><a class="text-muted" href="#"><i class="fab fa-twitter-square" width="24"
								height="24">&nbsp;&nbsp;</i></a></li>
					<li class="ms-3"><a class="text-muted" href="#"><i class="fab fa-google-plus" width="24"
								height="24">&nbsp;&nbsp;</i></a></li>
				</ul>
			</footer>
	</div>

	<script src="/js/sliderjs.js"></script>
	<script src="/js/validacionEmpC.js"></script>
	<script src="/js/morris.js"></script>
	<script src="/assets/js/core/jquery.min.js"></script>
	<script src="/assets/js/core/popper.min.js"></script>
	<script src="/assets/js/core/bootstrap.min.js"></script>
	<script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>

</body>
</html>