<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <link rel="stylesheet" href="/css/morris.css">
  <script src="/js/morris.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/estilosadminAsistenciaT.css">
  <link rel="stylesheet" href="bootstrap5-website-master/css/bootstrap.min.css">
  <link rel="stylesheet" href="bootstrap5-website-master/css/main.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"&amp;gt;>
  
  <title>
    Computadores
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="calendario/jsCalendar.css">
  <link rel="stylesheet" type="text/css" href="calendario/jsCalendar.clean.css">
  <script type="text/javascript" src="calendario/jsCalendar.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/estilosSlider.css">
  <!-- <link href="/assets/css/paper-dashboard.css?v=2.0.0" rel="stylesheet" /> -->
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/assets/demo/demo.css" rel="stylesheet" />
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="calendario/estilosCalendar.css">
   <link rel="stylesheet" href="/css/style_calendar_dash.css">
   <link rel="stylesheet" href="/css/estiloscartas.css">
   
</head>

<body class="">
	<!--inicio header-->
	<header class=" py-1 mb-0 bg-dark ">
		<div class="container d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<button type="button">
				<img src="assets/message.svg" alt="" class="menu-bar bi me-2 bg-light text-light">
			</button>

			<ul class="nav col-12 col-md-10 mb-2 justify-content-center mb-md-0">
				<li><a href="#" class="nav-link px-2 text-light">Home</a></li>
				<li><a href="#" class="nav-link px-2 text-light">Features</a></li>
				<li><a href="#" class="nav-link px-2 text-light">Pricing</a></li>
				<li><a href="#" class="nav-link px-2 text-light">FAQs</a></li>
				<li><a href="#" class="nav-link px-2 text-light">About</a></li>
			</ul>

			<div class="col-md-1 text-center">
				<form class="d-flex" th:action="@{/logout}" method="post">
              		<input class="btn btn-outline-light me-2" type="submit" value="Salir" />
	           	</form>
			</div>
		</div>
	</header>
	<!--fin del header-->
    <!--inicio menu slider-->
    <div class="sidebar">
        <h2>MRTW</h2>
        <ul class="list">
            <li class="list__item">
                <div class="list__button">
                    <img src="/assets/dashboard.svg" class="list__img">
                    <a th:href="@{/dashboard-Empleado}" class="nav__link">Inicio</a>
                </div>
            </li>

            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <img src="/assets/docs.svg" class="list__img">
                    <a href="#" class="nav__link">SEGUIMIENTO EMPLEADO</a>
                    <img src="/assets/arrow.svg" class="list__arrow">
                </div>

                <ul class="list__show">
                    <li class="list__inside">
                        <a class="nav__link nav__link--inside" th:href="@{/listarActividadLaboralEmpleado}">Actividades Empleado</a>
                    </li>

                    <li class="list__inside">
                        <a class="nav__link nav__link--inside" th:href="@{/listarCapacitacionesEmpleado}">Capacitaciones</a>
                    </li>

                    <li class="list__inside">
                        <a class="nav__link nav__link--inside" th:href="@{/listarCalendario}">Eventos</a>
                    </li>
                </ul>

            </li>

            <li class="list__item list__item--click">
				<div class="list__button list__button--click">
					<img src="/assets/stats.svg" class="list__img"> <a href="#"
						class="nav__link">INVENTARIOS</a> <img src="/assets/arrow.svg"
						class="list__arrow">
				</div>
				<ul class="list__show">
					<li class="list__inside"><a
						class="nav__link nav__link--inside"
						th:href="@{/listarInsumosEmpleado}">Insumos</a></li>

					<li class="list__inside"><a
						class="nav__link nav__link--inside"
						th:href="@{/solicitudComputador}">Requerimiento de
							Computadores</a></li>
							
					<li class="list__inside"><a
						class="nav__link nav__link--inside"
						th:href="@{/listarPrestamosEmpl}">Ver solicitudes realizadas</a></li>
				</ul>
			</li>
            

            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <img src="/assets/message.svg" class="list__img">
                    <a href="#" class="nav__link">ASISTENCIA TECNICA</a>
                    <img src="/assets/arrow.svg" class="list__arrow">
                </div>

                <ul class="list__show">
                 <li class="list__inside">
                        <a class="nav_link nav_link--inside" th:href="@{/newSolicitud}">Necesitas ayuda?</a>
                    </li>
                    <li class="list__inside">
                        <a class="nav__link nav__link--inside" th:href="@{/listarUsuariosSoli}">Solicitudes realizadas</a>
                    </li>
                </ul>
            </li>


            <li class="list__item">
                <div class="list__button">
                    <img src="/assets/bell.svg" class="list__img">
                    <a href="#" class="nav__link">Contacto</a>
                </div>
            </li>

        </ul>
    </div>
    <!--Fin menu slider-->
    <!--Comienzo contenido de la pagina-->
    <div class="contenido">
  
      
      
    <div class="col-12">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"><h4>Requerimiento de computadores</h4>
          <div class="card mb-3" >
            <div class="row no-gutters">
             
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">¿Qué hacer para recibir un computador?</h5>
                  <p class="card-text">1. Estar vinculado a nuestra empresa <br>
                                       2. Fotocopia del documento de identidad <br>
                                       3. Estar al día en sus entregables <br></h5>
                                       4. Mandar archivos al siguiente correo: soportpc@mrtw.com <br></p>
                  
                </div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Para tener en cuenta</h5>
                  <p class="card-text">1. Solo se podrá solicitar un computador por empleado <br>
                                       2. El empleado que reciba el computador tendrá un plazo de 1 año para devolver el computador. <br>
                                       3. Si necesita más tiempo el computador debe hacer el proceso para recibirlo de nuevo <br></h5>
                                       4. Caulquier otra duda al siguiente correo: soportpc@mrtw.com <br></p>
                  
                </div>
              </div>
              
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><b>¡ATENCIÓN!</b></h5>
                  <p class="card-text"><b>Dirígase al área de recursos humanos de la empresa y cuando esté allí llene el formulario (QUIERO APLICAR) en compañía de uno de nuestros colaboradores</b><br></p>
                  
                </div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Aplique YA</h5>
                  <p class="card-text"> <a th:href="@{/newPrestamos}" class="btn btn-primary">QUIERO APLICAR</a> </p>
                  
                </div>
              </div>
            </div>
          </div>
		</div>
	  </div>
	</div>

  			
   </div>       
        
 


<script src="/js/sliderjs.js"></script>
<script src="/js/morris.js"></script>
<script src="/assets/js/core/jquery.min.js"></script>
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>
<script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>

</body>
</html>
</body>

</html>