<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <link rel="stylesheet" href="/css/morris.css">
  <script src="/js/morris.min.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Dashboard</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     iconOs     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
  <!-- <link href="/assets/css/paper-dashboard.css?v=2.0.0" rel="stylesheet" /> -->
  <link rel="stylesheet" href="/css/estilosSlider.css">
 
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="/css/estiloscartas.css">
</head>
<body>
	<!--inicio header-->
	<header class=" py-1 mb-0 bg-dark ">
		<div class="container d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<button type="button">
				<img src="assets/message.svg" alt="" class="menu-bar bi me-2 bg-light text-light">
			</button>

			<ul class="nav col-12 col-md-10 mb-2 justify-content-center mb-md-0">
				<li><a href="#" class="nav-link px-8 text-light">JEFE DE AREA</a></li>
			</ul>

			<div class="col-md-1 text-center">
				<a th:href="@{/}" class="btn btn-outline-light me-2">Salir</a>
			</div>
		</div>
	</header>
	<!--fin del header-->
    <!--inicio menu slider-->
    <div class="sidebar">
        <h2>MRTW</h2>
        <ul class="list">
            <li class="list__item">
                <div class="list__button">
                    <img src="/assets/dashboard.svg" class="list__img">
                    <a th:href="@{/dashboard-Empleado}" class="nav__link">Inicio</a>
                </div>
            </li>

            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <img src="/assets/docs.svg" class="list__img">
                    <a href="#" class="nav__link">SEGUIMIENTO EMPLEADO</a>
                    <img src="/assets/arrow.svg" class="list__arrow">
                </div>

                <ul class="list__show">
                    <li class="list__inside">
                        <a class="nav__link nav__link--inside" th:href="@{/listarActividadLaboral}">Actividades del area laboral</a>
                    </li>

                    <li class="list__inside">
                        <a class="nav__link nav__link--inside" th:href="@{/newActividadLaboral}">Creacion Eventos</a>
                    </li>

                    <li class="list__inside">
                        <a class="nav__link nav__link--inside" th:href="@{/listarCapacitacionesJefe}">Capacitaciones</a>
                    </li>
                </ul>

            </li>

        </ul>
    </div>
    <!--Fin menu slider-->
    <!--Comienzo contenido de la pagina-->
    
           
        <div class="contenido">
		<div
			class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="col-md-6 h2">¡BIENVENIDO JEFE DE ÁREA!</h1>
			<div class="btn-toolbar mb-2 mb-md-0">
                    
				<div class="btn-group mr-2">
					<a th:href="@{/listarmasivos}" 
                                   class="btn btn-light txt-light"><img border="0" r6="true" src="/img/anuncio.png"  
                                   width="20" height="20">   Anuncio</a>
				</div>
				
			</div>
		</div>
		<!--  -->
		<div class="content">
			<div class="row">
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0" th:text="${usuarios}"></h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Usuarios Activos</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0" th:text="${insumos}"></h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Insumos Disponibles</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0" th:text="${proveedores}"></h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-danger">
                          <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Proveedores Activos</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0" th:text="${agentes}"></h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Agentes Activos</h6>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-xl-6 col-sm-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-10">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">Sobre nuestras políticas ambientales</h3>
                         
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                     <br>
								<p class="card-text">En Quimaslim nos comprometemos a promover un buen desempeño
									ambiental y la mejora continua al desarrollar nuestras actividades buscando siempre
									la prevención de la contaminación y el control de los impactos ambientales
									generados por nuestros procesos, de igual manera nos comprometemos a dar
									cumplimiento de los requisitos legales ambientales y procurar la generación de
									nuevos productos que sean ambientalmente amigables, eco eficientes y de baja
									toxicidad, preponderando por el cuidado del medio ambiente a traves de la
									implementacion de tecnologias limpias con todos nuestros clientes.
									<br>
									<br>
									<b> 1.  Prevención: </b> Prevenir y corregir desastres ecológicos<br>
									<b>2. Responsabilidad: </b>  Mejorar el entorno ambiental<br>
									<b>3. Protección: </b>  En los casos de que no se pueda prevenir el daño ambiental debe pagar la deuda.
									</p>
							        
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-sm-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="">Porcentajes de nuestras políticas</h3>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="icon icon-box-success">
                          <div class="grafico" id="grafico"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                
			</main>
			
		</div>
<!--Comienzo contenido del footer-->
			<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
				<div class="col-md-4 d-flex align-items-center">
					<ul>
						<li>
							<a href="#" target="_blank"
								class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">MR TW</a>
						</li>
						<li>
							<a href="#" target="_blank"
								class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">CONTACTO</a>
						</li>
					</ul>
				</div>
				<div
					class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
					<span class="copyright">
						©
						<script>
							document.write(new Date().getFullYear())
						</script>, GAES 4 (SENA) </i>
					</span>
				</div>
				<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
					<li class="ms-3"><a class="text-muted" href="#"><i class="fab fa-facebook-square" width="24"
								height="24">&nbsp;&nbsp;</i></a></li>
					<li class="ms-3"><a class="text-muted" href="#"><i class="fab fa-twitter-square" width="24"
								height="24">&nbsp;&nbsp;</i></a></li>
					<li class="ms-3"><a class="text-muted" href="#"><i class="fab fa-google-plus" width="24"
								height="24">&nbsp;&nbsp;</i></a></li>
				</ul>
			</footer>
    
      <script src="/js/sliderjs.js"></script>
      <script src="/js/morris.js"></script>
      <script src="/assets/js/core/jquery.min.js"></script>
      <script src="/assets/js/core/popper.min.js"></script>
      <script src="/assets/js/core/bootstrap.min.js"></script>
      <script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>

</body>
</html>