@import url("https://fonts.googleapis.com/css2?family=Roboto");

.card-header{
    background: -webkit-linear-gradient(to right, #3c3e41, #3c3e41);
    background: linear-gradient(to right, #3c3e41, #3c3e41);
    color: white;
}
