<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  
  
  <title>
    ASISTENCIA TECNICA
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="calendario/jsCalendar.css">
  <link rel="stylesheet" type="text/css" href="calendario/jsCalendar.clean.css">
  <script type="text/javascript" src="calendario/jsCalendar.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
  <!-- <link href="/assets/css/paper-dashboard.css?v=2.0.0" rel="stylesheet" /> -->
  <link rel="stylesheet" href="/css/estilosSlider.css">
  
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/assets/demo/demo.css" rel="stylesheet" />
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="calendario/estilosCalendar.css">
   <link rel="stylesheet" href="/css/style_calendar_dash.css">
   <link rel="stylesheet" href="/css/estiloscartas.css">
   
</head>

<body class="">
        <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
			<a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">MR.TW</a>
			<button type="button">
				<img src="assets/menu.png" alt="" width="30" height="30" class="menu-bar bi me-2 bg-light text-light">
			</button>
			<div class="buscar">
				<i class="buscar fas fa-search"></i>
			</div>
			<input class="form-control form-control-dark w-50" type="text" placeholder="Buscar" aria-label="Search">
			<ul class="navbar-nav px-3">
				<li class="nav-item text-nowrap">
				<form class="d-flex" th:action="@{/logout}" method="post">
              		<input class="btn btn-outline-light me-2" type="submit" value="Salir" />
	           	</form>
				</li>
			</ul>
		</nav>
		<!--inicio menu slider-->
		<div class="sidebar">
			<h2>MRTW</h2>
			<ul class="list">
				<li class="list__item">
					<div class="list__button">
						<img src="/assets/dashboard.svg" class="list__img">
						<a th:href="@{/dashboard-Admin}" class="nav__link">Inicio</a>
					</div>
				</li>

				<li class="list__item list__item--click">
					<div class="list__button list__button--click">
						<img src="/assets/docs.svg" class="list__img">
						<a href="#" class="nav__link">SEGUIMIENTO EMPLEADO</a>
						<img src="/assets/arrow.svg" class="list__arrow">
					</div>

					<ul class="list__show">
						<li class="list__inside">
							<a class="nav__link nav__link--inside" th:href="@{/newUsuario}">Crear Usuarios</a>
						</li>

						<li class="list__inside">
							<a class="nav__link nav__link--inside" th:href="@{/listarUsuario}">Ver Usuarios</a>
						</li>

						<li class="list__inside">
							<a class="nav__link nav__link--inside" th:href="@{/listarCapacitaciones}">Gestionar Capacitacion</a>
						</li>
					</ul>

				</li>

				<li class="list__item list__item--click">
					<div class="list__button list__button--click">
						<img src="/assets/stats.svg" class="list__img">
						<a href="#" class="nav__link">INVENTARIOS</a>
						<img src="/assets/arrow.svg" class="list__arrow">
					</div>
					<ul class="list__show">
						<li class="list__inside">
							<a class="nav__link nav__link--inside" th:href="@{/listarInsumos}">Insumos</a>
						</li>

						<li class="list__inside">
							<a class="nav__link nav__link--inside" th:href="@{/listarComputador}">Computadores</a>
						</li>

						<li class="list__inside">
							<a class="nav__link nav__link--inside" th:href="@{/listarProveedor}">Proveedores</a>
						</li>

						<li class="list__inside">
							<a class="nav__link nav__link--inside" th:href="@{/listarStock}">Stock</a>
						</li>
					</ul>
				</li>

				<li class="list__item list__item--click">
					<div class="list__button list__button--click">
						<img src="/assets/message.svg" class="list__img">
						<a href="#" class="nav__link">ASISTENCIA TECNICA</a>
						<img src="/assets/arrow.svg" class="list__arrow">
					</div>

					<ul class="list__show">
						<li class="list__inside">
							<a class="nav__link nav__link--inside" th:href="@{/listarSolicitudes}">Gestion de Solicitudes</a>
						</li>

						<li class="list__inside">
							<a class="nav__link nav__link--inside" th:href="@{/Informes-Admin}">Informe</a>
						</li>

						<li class="list__inside">
							<a class="nav__link nav__link--inside" th:href="@{/listarAgentes}">agentes Tecnicos</a>
						</li>
					</ul>
				</li>


				<li class="list__item">
					<div class="list__button">
						<img src="/assets/bell.svg" class="list__img">
						<a href="#" class="nav__link">Contacto</a>
					</div>
				</li>

			</ul>
		</div>
		<!--Fin menu slider-->
		<!--Comienzo contenido de la pagina-->
		<div class="contenido">
			<img src="assets/message.svg" alt="" class="menu-bar">
      
      
           <div  class="conatiner">
            <h1 class="bg-dark text-white  text-center">Equipo  Técnico</h1>
            
				  <table class="table  table-border">
			  <thead>
				<tr>
				  <th scope="col">Código</th>
				  <th scope="col">Nombre</th>
				  <th scope="col">Apellido</th>
				  <th scope="col">Correo</th>
				  <th scope="col">Celular</th>
				  <th scope="col">Rol</th>
				  
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <th scope="row">1</th>
				  <td><%=nombre%></td>
				  <td><%=apellido%></td>
				  <td><%=correo%></td>
				  <td><%=celular%></td>
				  <td><%=persona%></td>
				  
				</tr>
				
				
			  </tbody>
			</table>
				<a  href="adminAsistenciaT.html"><button  class="btn btn-success">Regresar</button><a/>
                
        </div>
     
 

        <!-- footer -->
        

        <footer class="footer footer-black  footer-white ">
          <div class="container-fluid">
            <div class="row">
              <nav class="footer-nav">
                <ul>
                  <li>
                    <a href="#" target="_blank">MR TW</a>
                  </li>
                  <li>
                    <a href="#" target="_blank">CONTACTO</a>
                  </li>
                </ul>
              </nav>
              <div class="credits ml-auto">
                <span class="copyright">
                  Â©
                  <script>
                    document.write(new Date().getFullYear())
                  </script>, GAES 4 (SENA) <i class="fab fa-facebook-square">&nbsp;&nbsp;</i><i class="fab fa-twitter-square">&nbsp;&nbsp;</i><i class="fab fa-google-plus"></i>
                </span>
              </div>
            </div>
          </div>
        </footer>
    </div>
  <!--   Enlaces   -->
  <script src="/js/sliderjs.js"></script>
  <script src="/js/validaformAsistenciaT"></script>
  <script src="/js/morris.js"></script>
  <script src="/assets/js/core/jquery.min.js"></script>
  <script src="/assets/js/core/popper.min.js"></script>
  <script src="/assets/js/core/bootstrap.min.js"></script>
  <script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="/assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/assets/js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script>
  <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="/assets/demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in /assets/assets-for-demo/js/demo.js
      demo.initChartsPages();
    });
  </script>
</body>

</html>
